html,
body {
  padding: 0;
  margin: 0;
}
.container {
  background-image: url("/img/foondoherramientas.jpg");
}
.form-control {
  border-radius: 10px;
  transition: all 2s;
}
.form-control:hover {
  background-color: rgb(250, 244, 236);
}
.form-label {
  color: antiquewhite;
  font-weight: 700;
}
.conteiner {
  background-image: url("/img/foondoherramientas3.jpg");
}
